/* @import '@fontsource/fira-mono'; */

@font-face {
	font-family: "GmarketSansMedium";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}



h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.container {
	font-family: "GmarketSansMedium", sans-serif;
	margin-left: 100px;
	margin-right: 100px;
}

.blue-button {
	background-color: #007bff; /* 로그인 버튼 파란색으로 변경 */
	color: #fff;
}

.red-button {
	background-color: #fe4848;
	color: #fff;
}

button {
	padding: 8px 15px;
	box-sizing: border-box;
	border: 1px solid #ccc; /* 테두리 색상 변경 */
	border-radius: 11px;
	cursor: pointer;
	position: relative;
}

.search-box {
	display: flex;
	margin-bottom: 20px;
	position: relative;
	width: 1000px;
}

.search-box input[type="text"] {
	flex-grow: 1;
	margin-left: 300px;
	margin-right: 100px;
	padding: 16px;
	font-size: 19px;
	border: 1px solid #ccc;
	border-radius: 25px;

}

/* 검색 버튼 스타일 */
.search-button {
	margin-left: auto;
	position: absolute;
	top: 53%;
	left: 840px;
	transform: translateY(-50%);
	background-color: #00ff0000;
	border: none;
	border-radius: 50%;
	width: 53px;
	height: 53px;
	cursor: pointer;
}

/* 검색 버튼 아이콘 스타일 */
.search-button img {
	width: 30px;
	height: 30px;
}

.performance-container {
	display: flex;
	flex-wrap: nowrap; /* 가로로만 나열되도록 설정 */
	overflow-x: auto; /* 스크롤바 추가 */
	overflow: auto;
	margin-bottom: 150px;
}

.performance-card {
	flex: 0 0 auto;
	margin-right: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 300px;
	height: 400px;
	flex-direction: column;
}

.box {
	margin: 10px auto;
	/*width: 40%;*/
	/*padding-left: 20px; !* 왼쪽 여백 추가 *!*/
	/*padding-right: 20px; !* 오른쪽 여백 추가 *!*/
	box-sizing: border-box;
	border: 1px solid #ccc; /* 테두리 색상 변경 */
	font_color: black;
	border-radius: 11px;
}

h2 {
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.event-list-container {
	display: block;
	overflow-x: auto; /* 스크롤바 추가 */
	overflow: auto;
	margin-bottom: 150px;
}

.eventlist-title {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
	/*text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;*/
}

.eventlist-details {
	font-size: 16px;
	text-align: center;
	color: #000;
}

.eventlist-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 10px;
}